<div class="question-container">
    <div class="card">
      <div class="card-header">

        <div class="task-text">
         
          <p>{{ task.BX_Questions_Text_EN || task.BX_Questions_Text_AR }}</p>
        </div>
        
      </div>
      <div class="card-body">
        <p class="question">{{ task.BX_Questions_Disc_EN || task.BX_Questions_Disc_AR }}</p>
        <div class="options-container">
          <div class="option" *ngFor="let detail of questionDetails">
            <input type="radio"
                   [id]="detail.BX_Questions_Details_Key"
                   [value]="detail.BX_Questions_Details_Value"
                   [(ngModel)]="selectedAnswer"
                   (change)="selectAnswer(detail.BX_Questions_Details_Value)" />
            <label [for]="detail.BX_Questions_Details_Key">{{ detail.BX_Questions_Details_Value }}</label>
          </div>
        </div>
        <div class="button-group">
            <button type="submit"  (click)="submitAnswer()" >
              <img src="assets/img/button.png" alt="Start the game">
              <span class="button-text m-auto">Done</span>
            </button>
          </div>
        
      </div>
    </div>
  </div>
  