


.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  padding: 20px;
  box-sizing: border-box;
}
.top-header{
  background-color: #1CCBDE;
}
.header .right-section .profile-icon {
  margin-right: 15px; /* Adjust the value as needed */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff5c38;
  color: white;
  padding: 10px;
}

.header .left-section,
.header .right-section {
  display: flex;
  align-items: center;
}

.header .center-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header .logo {
  max-width: 30px;
  margin-right: 10px;
}

.header .back-button,
.header .points {
  margin-right: 10px;
}

.title {
  font-size: 20px;
}
.user-icon,
.notification-icon {
  width: 24px;
  height: 24px;
  background-color: #ccc;
  border-radius: 50%;
}

h2 {

  font-size: 24px;
}

.track-list {
  margin-top: 15px;
}



.track-item h3 {
  margin: 0;
}

.track-item p {
  margin: 5px 0 0;
  font-size: 14px;
}



.track-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #67beeb;
  padding: 10px;
  color: white;
}


.header-content {
  flex: 1;
}

.header-content h3, .header-content p {
  margin: 0;
}

.header-content h3 {
  font-size: 20px;
  font: normal normal normal 18px/24px Segoe UI;
}

.header-content p {
  font-size: 14px;
  font: normal normal normal 18px/24px Segoe UI;
}
.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;



 
  
}

.back-button .icon {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* position: absolute; */
  right: 20px; /* Adjust as needed */
  bottom: 20px; /* Adjust as needed */
  margin-left: 30px;
 
  

  
  
}

.track-list {
  display: flex;
  flex-direction: column;
  /* gap: 2px;  */
 
}


















